# requirements.txt
sqlalchemy
sentence-transformers
langchain-core
langchain-google-genai
langchain-community
psycopg2-binary       # Native Postgres driver
pgvector              # SQLAlchemy binding extension for vector data fields
